<div class="page">
  <div *ngIf="!isFileuploadComplete" class="file-selector">
    <button
      type="button"
      mat-raised-button
      class="upload-button"
      (click)="fileInput.click()"
    >
      Choose File<mat-icon>drive_folder_upload</mat-icon>
    </button>
    <input
      hidden
      (change)="onFileChange($event)"
      #fileInput
      type="file"
      id="file"
    />
  </div>
  <div *ngIf="isFileuploadComplete">
    <div style="font-size: large">
      Accounts that you are following but not following you back !!!
    </div>
  </div>
  <div class="card" *ngFor="let e of followersThatNotFollowingBack">
    <div class="title">
      {{ e.string_list_data[0].value }}
    </div>
    <a class="link" (click)="redirectToLink(e.string_list_data[0].href, e)">
      {{ e.string_list_data[0].href }}
    </a>
  </div>
</div>
